<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
      <p>
        <label for="username">Username</label><br />
        <input type="text" name="username" id="username" required />
      </p>
      <p>
        <label for="password">Password</label><br />
        <input type="password" name="password" id="password" required />
      </p>
      <p><input type="submit" value="Login" /></p>
    </form>

    <a href="{{ url_for('signUp') }}">Don't have an account? Sign Up</a>
  </body>
</html>
