<!-- mainPagePlayer.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page Player</title>
  </head>
  <body>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
      const socket = io.connect();

      console.log("Player connected to Socket.IO");

      // Join the rehearsal room
      socket.emit("join", { room: "rehearsal_room" });

      // Listen for the start_live_session event
      socket.on("start_live_session", function (data) {
        window.location.href = `/livePage?song=${encodeURIComponent(
          data.song
        )}&author=${encodeURIComponent(data.author)}`;
      });

      // Listen for the session_ended event
      socket.on("session_ended", function () {
        console.log("Session ended. Returning to main page.");
        window.location.href = "/mainPagePlayer";
      });
    </script>
    <div>
      <h1>Waiting for next song ...</h1>
    </div>
  </body>
</html>
